*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
/*-------------background image------------- */
body{
    background-image: url("image/background.jpg");
    background-size: cover;
}

/* first box-1 */
.navbar{
    width: auto;
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width: 120px;
    height: 50px;
}
.logo{
    background-image: url("image/amazon_logo.png");
    background-size: cover;
    width: 120px;
    height: 50px;
    position: relative;
    bottom: 5px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* second box-2 */
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.add-second{
font-size: 1rem;
margin-left:7px;

}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address:hover{
    border: 2px solid white;
    height: 50px;
    

}
.nav-search:hover{
    border: 2px solid gold;
}

/* third box-3 */
.nav-search{
    display: flex;
    justify-content:space-evenly;
    margin: 10px;
    background-color: coral;
    width: 600px;
    height: 30px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width:25%;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    margin-top: 7px;

}
.search-input{
    width:50%;
    font-size: 1rem;
}
.search-icon{
    width:40px;
    display: flex;
    justify-content:end;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(244, 159, 10);
    border-radius: 5px;
}
.flag-icon{
    display: flex;
    align-items: center;
}
/* box-4 */
.language{
    margin-left: 3px;
    font-size: 0.9rem;
}
.select-op{
    font-size: 0.6rem;
    background-color: #0f1111;
    color: #cccccc;
    border: none;  
}
.flag-icon:hover{
    border: 2px solid white;
    height: 50px;
    padding-top: 0.2rem;
}
/* box-5 */
span{
   font-size: 0.8rem;
}
.nav-account{
    font-size:0.9rem;
    font-weight:700;
    padding-bottom:0.2rem;
}
.nav-signin:hover{
    border: 2px solid white;
    height: 50px;
}

/* box--6 */
.orders{
    font-weight: 600;
    font-size: 0.9rem;
}
.nav-returns:hover{
    border: 2px solid white;
    height: 50px;
}
/* box--7 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: bold;
}
.nav-cart:hover{
    border: 2px solid white;
    height: 50px;
}
/* --------------------second navbar apply css------------------------------- */
/* box---1 */
.panel{
    display: flex;
    height: 40px;
    color: white;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-op p{
    display:inline;
    margin-left: 15px;
    font-size: 0.9rem;
}
.panel-op{
    width: 900px;
}
.panel-op p:hover{
 border: 2px solid white;
 height:40px;
}
.panel-details i{
    font-size: 2rem;
}
.panel-details{
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-weight: 500;
}
/* -------------------design hero section--------- */
.hero-section{
    height: 350px;
    background-image: url("image/hero_image.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
/* -----------message section------------------- */
.hero-message{
   background-color: white;
   height: 35px;
   width: 1040px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
} 
.link{
    text-decoration: none;
    margin-left: 5px;
}

/* ------------shopping section------------ */

.shop-section1{
    display: flex;
    justify-content: space-evenly;
    /* background-color: white; */
}
.box{
    border: 2px solid black;
    width: 22%;
    height:225px;
    background-color: white;
    margin-top: 10px;
}
.box-img1{
    height: 185px;
    width:230px;
    background-image: url("image/box1_image.jpg");
    margin-left: 18px;
    cursor: pointer;
}
.box-img2{
    height: 185px;
    width:230px;
    background-image: url("image/box2_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}
.box-img3{
    height: 185px;
    width:230px;
    background-image: url("image/box3_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}
.box-img4{
    height: 185px;
    width:230px;
    background-image: url("image/box4_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}
/* --------------section-2------------------------- */
.shop-section2{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    /* background-color: white; */
}
.box-img5{
    height: 185px;
    width:230px;
    background-image: url("image/box5_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}

.box-img6{
    height: 185px;
    width:230px;
    background-image: url("image/box6_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}
.box-img7{
    height: 185px;
    width:230px;
    background-image: url("image/box7_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}
.box-img8{
    height: 185px;
    width:230px;
    background-image: url("image/box8_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}

.box-img9{
    height: 185px;
    width:230px;
    background-image: url("image/box9_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}

.box-img10{
    height: 185px;
    width:230px;
    background-image: url("image/box10_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}

.box-img11{
    height: 185px;
    width:230px;
    background-image: url("image/box11_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}

.box-img12{
    height: 185px;
    width:230px;
    background-image: url("image/box12_image.jpg");
    background-size: cover;
    margin-left:18px;
    cursor: pointer;
}